#!/bin/bash

alias rc="vim ~/.${lang}rc"
alias src="source ~/.${lang}rc"

alias genv="vim ~/.environment"
alias sgenv="source ~/.environment"

alias envars="vim ~/.envars"
alias senvars="source ~/.envars"

alias envars="vim ~/.envars"
alias senvars="source ~/.envars"

alias als="vim ~/.aliases"
alias sals="source ~/.aliases"

alias functs="vim ~/.functs"
alias sfuncts="source ~/.functs"

alias open="xdg-open"
alias cal="ncal -M -b"
alias define="dict"

alias trepo="cd ${HOME}/Dev/git.tigh.dev/tigh-latte"

alias vim=nvim
