[user]
	name = Tighearnán Carroll
	email = tighearnan.carroll@gmail.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.config/tigh-latte/gitignore
[tag]
	sort = -v:refname
[gpg]
	format = ssh
[user]
	signingkey = ~/.ssh/id_ed25519.pub
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true
[tag]
	gpgsign = true
